footer {
    background-color: rgb(41, 46, 59);
    position: -webkit-sticky;
    position: sticky;
    top: 100vh;
    padding-top: 1rem;
}

.contact {
    color: white;
}

.contact i {
    font-size: 2rem;
    margin: 2rem;
}