<h1>Projects</h1>
<div class="cards">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Pantry App</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>Angular, Spring Boot</p>
            <a class="front-end" href="https://github.com/lthoreson/pantry-fe" target="_blank"><i class="fa fa-github small-icon"></i> Front End</a>
            <a class="back-end" href="https://github.com/lthoreson/pantry-be" target="_blank"><i class="fa fa-github small-icon"></i> Back End</a>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Budget App</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>Angular, Spring Boot</p>
            <a class="front-end" href="https://github.com/lthoreson/budget-fe" target="_blank"><i class="fa fa-github small-icon"></i> Front End</a>
            <a class="back-end" href="https://github.com/lthoreson/budget-be" target="_blank"><i class="fa fa-github small-icon"></i> Back End</a>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Early Retirement Calculator</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>React</p>
            <a class="front-end" href="https://github.com/lthoreson/retirement-time-calculator" target="_blank"><i class="fa fa-github small-icon"></i> Front End</a>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Pomodoro Timer</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>React</p>
            <a class="front-end" href="https://github.com/lthoreson/tomatobreak" target="_blank"><i class="fa fa-github small-icon"></i> Front End</a>
        </mat-card-content>
    </mat-card>
</div>