.small-icon {
    font-size: 1.5rem;
    color: white;
}

a {
    text-decoration: none;
}

.front-end {
    color: aqua;
    margin-right: 1rem;
}

.back-end {
    color: greenyellow;
    margin-right: 1rem;
}