<h1>My Story</h1>
<p>
    Hello! My name is Logan Thoreson. I grew up in the suburbs of Minneapolis, where I learned to hunt, fish, and play
    soccer in my free time. I excelled as a student, particularly in math and science. I was even recognized for my
    creativity as an art student. At 16 I decided to attend university through Minnesota's Post Secondary Enrollment
    Option (PSEO). I had to choose a career path quickly, and the advice I received was to choose a stable career like
    accounting. As with most of my classes, I performed well, and the subject came easily to me.
</p>
<p>
    After being accepted into University of Wisconsin-Madison, I completed my bachelor's and master's in accounting.
    There was just one problem. The deeper I dove into accounting the less interested I became. I realized that
    accountants are the police of finance, and the scorekeepers and referees in the game of business. I appreciate how
    valuable this service is to society, and respect anyone who enjoys it. But the more I thought about it, the more I
    found myself incompatible with a profession that is bound by rigid procedures.
</p>
<p>
    From age 21 to 25, I felt lost. I had little motivation to excel in the career I had chosen. What difference could I
    make? I couldn't help but think that if I disappeared, someone else would come in and do my job the exact same way.
    What profession would allow me to exercise my creativity while taking advantage of all the gifts I have to offer?
</p>
<p>
    Despite feeling disenchanted with my career choice, I made a conscious decision to put forth my best effort.
    My strong sense of integrity makes me unwilling to perform subpar work and extract payment for it. So I pushed
    through year by year working as an accountant in the affordable housing industry, contributing to a cause I deeply
    cared about. I met so many wonderful people who I am still friends with today. I learned a lot from my superiors,
    and quickly became a top performer, trainer, and a go-to source of information for other staff.
</p>
<p>
    After years of contemplation, I mustered up the courage to sell all my belongings and travel the world. Travel was
    the perfect way to clear my mind and figure out what I truly wanted: a career in software engineering. So during my
    time in Asia I began studying math and computer science. I finally felt like I was in my element. The fact that you
    can solve the same problem hundreds of ways was a breath of fresh air. I read about open source software and how
    developers contribute to projects that anyone can benefit from. That's a community I want to be a part of. Using
    machines to solve the world's problems.
</p>
<p>
    Most recently, I graduated from a full stack engineering apprenticeship program at York Solutions. I spent three months
    with many other gifted individuals learning how to build apps from the ground up using Angular, Typescript, Spring Boot,
    and Java. It has truly changed my life, and I can't wait to keep growing and learning in this field. If you would like 
    to see some of the projects I worked on, I kindly invite you to follow the links provided in the projects section. 
</p>