<h1>My Story</h1>
<p>
    Hello! My name is Logan Thoreson. I'm a full stack developer and CPA.
    I grew up in the suburbs of Minneapolis hunting, fishing, and playing
    soccer. Academically, I excelled in math, science, art, and music.
    At 16 I attended university through Minnesota's Post Secondary Enrollment
    Option (PSEO), and I went on to graduate from the University of Wisconsin-Madison, with a bachelor's and master's
    in accounting at 20 years of age.
</p>
<p>
    My first job out of college was in solar finance. After my whole department was laid off in my second year, I
    moved out to Colorado to experience all the mountains have to offer.
    I spent the next 5 years as a real estate accountant in affordable housing, contributing to a cause I deeply
    cared about. I met so many wonderful people who I am still friends with today. I learned a lot from my superiors,
    and quickly became a top performer, trainer, and a go-to source of information for other staff.
</p>
<p>
    After years of contemplation about my career direction, I mustered up the courage to sell all my belongings and
    travel the world. Travel was the perfect way to clear my mind and figure out what I truly wanted: a career in
    software engineering. So during my time in Asia I began studying math and computer science. I finally felt like I
    was in my element. The freedom to approach problems in creative ways was a breath of fresh air for an
    accountant. I read about open source software and how developers voluntarily contribute to projects that anyone can
    benefit from. That's a community I want to be a part of, using code to solve the world's problems.
</p>
<p>
    My experience in accounting gives me unique perspective into the common pain points in administrative work.
    I'm passionate about creating better user experiences so that these tasks are as painless as possible.
    Most recently, I graduated from the B2E full stack engineering apprenticeship at York Solutions. I spent
    three months with other gifted individuals learning how to build apps using Angular,
    Typescript, Spring Boot, and Java. It has truly changed my life, and I can't wait to keep growing, learning, and
    giving back to others in this field. I kindly invite you to explore the examples of my work on github.
</p>